* {
    margin: 0px; 
    padding: 0px;
}
body {
    background-color: #302681;
    height: 100%;
    font-family: "Roboto", sans-serif;
}
#header {
    margin: auto;
    width: 900px;
    height: 100px;
    background: #009440;
}
#header h1 img {
    margin: 10px;
    width: 70px;
    display: block;
    float: left;
}
#nav {
    margin-top: 35px;
    list-style: none;
    display: block;
    float: left;
    margin-left: 30px;
}
#nav li {
    float: left;
}
#nav li a {
    margin-left: 30px;
    padding-top: 100px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
}
#nav li a.ativa {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
#nav li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
#banner {
    position: relative;
    margin: auto;
    width: 900px;
}
#sobreimage {
    margin: 20px;
    margin-left: 250px;
}
#section1 {
    background: #ffffff;
    width: 900px;
    height: 100px;
    margin: auto;
}
#section2 {
    background: #ffffff;
    width: 900px;
    height: 671px;
    margin: auto;
}
#section3 {
    background: #ffffff;
    width: 900px;
    height: 550px;
    margin: auto;
}
#section4 {
    background: #ffffff;
    width: 900px;
    height: 850px;
    margin: auto;
}
#section5 {
    background: #ffffff;
    width: 900px;
    height: 600px;
    margin: auto;
}
#section6 {
    background: #ffffff;
    width: 900px;
    height: 571px;
    margin: auto;
}
#section7 {
    background: #ffffff;
    width: 900px;
    height: 571px;
    margin: auto;
}
#section6 h1 {
    padding-top: 50px;
    margin-left: 300px;
}
#section6 form {
    padding-top: 50px;
    margin-left: 350px;
}
#dados {
    padding-top: 200px;
    margin-left: 200px;
}
#article1 {
    float: left;
    width: 900px;
    padding:10px;
}
#article2 {
    float: left;
    width: 900px;
    padding:10px;
}
#article3 {
    float: left;
    width: 900px;
    padding:10px;
}
#article4 {
    float: left;
    width: 900px;
    padding:10px;
}
#article5 {
    float: left;
    width: 900px;
    padding:10px;
}
#article5 h1 {
    margin-left: 150px;
}
#article5 table {
    margin-top: 20px;
    margin-left: 100px;
    text-align: center;
}
#footer {
    height: 60px;
    margin-left: 318px;
    float: left;
    width: 900px;
    background: #009440;
}
#footer p {
    margin-left: 250px;
    display: block;
    float: left;
    margin-top: 10px;
    color: white;
    text-align: center;
}
#âncora img {
    margin-left: 40px;
    margin-top: 10px;
    padding-bottom: 10px;
    display: block;
    float: left;
    text-align: right;
}
textarea {
    resize: none;
}
@media screen and (min-width:800px) and (max-width:1280px){
    body, div{}
  #footer { margin-left:190px;}
}
@media screen and (min-width:768px) and (max-width:1024px){
    body, div{}
  #footer { margin-left:0px;}
}